*.AppImage
build/SHA256SUMS.txt
build/wekan-*.changes
build/wekan-*.deb
build/src/wekan-*.tar.gz
build/src/*.AppImage
build/src/debian/.debhelper
build/src/AppDir/usr/bin/node
build/src/AppDir/usr/share/wekan/*